header
{
    position: fixed;
    background-color: rgba(180,180,180,0.85);
    width:100%;
    border-color:  rgba(180,180,180,0.85);
}
body
{
    display: flex;
}
#pagehead
{
    position: absolute;
    height:10%;
    background-color: rgba(180,180,180,0);
    width:100%;
    border-color:  rgba(180,180,180,0);
    display: contents;
}